/* Aspect ratio trick for inline SVG
-------------------------------------------------- */
.svg-container {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 100%;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
    }
}

/* Clearfix
-------------------------------------------------- */
.cf::after {
    content: "";
    display: block;
    clear: both;
}


/* Visually hidden
-------------------------------------------------- */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
