:root {
    /* Layout */
    --site-width: 108rem;
    --base-font-size: 1.5rem;
    --base-line-height: calc(1.25 * var(--base-font-size));

    /* Fonts */
    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
