:root {
    /* Layout */
    --site-width: 128rem;
    --site-padding: 3rem;
    --base-font-size: 1.5rem;
    --base-line-height: calc(1.25 * var(--base-font-size));
    --collection-font-size: 2rem;

    /* Fonts */
    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
