doctype html
html(lang="en-US")
	head
		meta(charset="utf-8")
		title= config.document.title
		link(rel="stylesheet", href="/assets/css/dashboard/dashboard.css")
	body
		header(role="banner")
			h1
				a(href="/hinderson/") Dashboard
			h2.user-name hinderson
		main(role="main")
			section.song-list
				header
					h2 My playlists
				ul.playlists
					- if (collections) {
						-	for (var i = 0, len = sortorder.length; i < len; i++) {
						-		var collection = collections[i];
						-		var index = i;
						-		index += 1;
						-		var obfuscatedId = hashids.encodeHex(collection._id);
						li
							div.availability
								input(type="checkbox", checked)
							div.image
								if collection.covers && collection.covers[0]
									div.img(style="background-image:url(../media/img/" + collection.covers[0].src + ");", title=collection.covers[0].src)
							div.title
								a(href="/hinderson/" + obfuscatedId + "/edit/")= collection.title
							div.stats Songs: #{collection.items.length}
							div.actions
								form(name="delete-collection", method="post", action="/delete-collection/" + obfuscatedId, enctype="multipart/form-data")
									button(type="submit").delete ✕ Delete

						-	}

					- } else {
						p.empty No playlists :(
					- }
			section.create-playlist
				h2 Create new playlist
				- var obfuscatedUserId = hashids.encodeHex(user._id);
				form(name="create-collection", method="post", action="/create-collection/" + obfuscatedUserId, enctype="multipart/form-data")
					fieldset.metadata
						h3 Title
						label Title
							input(type="text", placeholder="Title", name="title", required)
					button(type="submit") Submit

		script(src="/js/admin/libs/zepto.min.js")
		script(src="/js/admin/libs/id3.js")
		script(src="/js/admin/libs/slip.js")
		script(src="/js/build/admin-common.js")
		script(src="/js/build/admin.js")
