//- Determine if this is a single song or not
-	if (single) {
		//- Determine index position of song
-		var index = collection.items.indexOf(single._id.toString()) + 1;
		//- Structure artist and titles
-		var artist = Array.isArray(single.artist) && single.artist.length > 1 ? single.artist.slice(0, -1).join(', ') + ' & ' + single.artist[single.artist.length -1] : single.artist;
-		var featuredartist = Array.isArray(single.featuredartist) && single.featuredartist.length > 1 ? single.featuredartist.slice(0, -1).join(', ') + ' & ' + single.featuredartist[single.featuredartist.length -1] : single.featuredartist;
-		var combinedArtist = artist + (featuredartist && featuredartist.length > 0 ? (' feat. ' + featuredartist) : '');
-	}

doctype html
html(lang="en-US", class="no-js #{collection.template}")
	include ./includes/head.jade
	body
		include ../client/img/icon-sprite.svg
		
		header(class="main-header inner", role="banner")
			block header
			
		main(role="main")
			block content

		footer(role="contentinfo")
			include ./includes/footer.jade
			
		include ./includes/dialog-options.jade
		include ./includes/scripts.jade
