extends ../layout

block hero
	div.hero
		div.hero-inner
			h1.collection-title
				div(data-string="Best")
					span B
					span e
					span s
					span t
				div(data-string="songs")
					span s
					span o
					span n
					span g
					span s
				div(data-string="of")
					span o
					span f
				div(data-string="2014")
					span 2
					span 0
					span 1
					span 4

append collection
	footer.go-to-top
		a(href="#top") Top ↑

block dialog
	small All tracks and images are © of their respective owners.
