.structural,
.structural > *,
.js .js-structural {
	position:absolute;
	left:-9999px;
}

h2.collection-title {
	text-align:center;
}

.img {
	width:40px;
	height:40px;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:1px;
	border:1px solid #ccc;
}

button {
	white-space:nowrap;
	font-size:12px;
}

body {
	margin:0;
	padding:1.5em 2em;
}
section {
	margin-bottom:40px;
}

label {
	display:block;
	margin-bottom:13px;
}
input,
select {
	display:block;
	font-size:13px;
	margin-top:3px;
	padding:6px 7px;
}
input[type="text"] {
	width:225px;
}
select {
	font-size:20px;
}

table {
	position:relative;
	width:100%;
	max-width: 100%;
	border-collapse:collapse;
	counter-reset:section;
}
thead th {
	text-align:left;
}
tbody {
	position:relative;
}
tbody tr td.index:before {
	counter-increment:section;
	content:counter(section);
}
tbody tr:nth-child(odd) {
	background-color:#f6f6f6;
}
thead th,
tbody td {
	padding:6px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:170px;
}
tbody td.handle {
	padding:0 4px 0 15px;
}
tbody .image {
	padding-left:8px;
	padding-right:0;
}
tbody .availability {
	font-size:22px;
}
tr[data-available="true"] .availability {
	color:#00cb59;
}
tr[data-available="false"] .availability {
	color:#ff5d5b;
}
table .index {
	text-align:center;
	padding-left:0;
	padding-right:0;
}
table .source {
	text-align:center;
}
table .source .soundcloud {
	fill:#ff5d00;
}
table .controls {
	position:relative;
	padding-right:0;
	overflow:visible;
}
table .controls button {
	margin-right:5px;
}
p.stats {
	text-align:right;
}

fieldset {
	border:0;
	margin:0;
	padding:0;
}
form .group {
	margin-top:7px;
}
form .group > * {
	display:inline-block;
	vertical-align:middle;
}
form .group .image {
	margin-right:2px;
}
form .group input {
	margin:0;
}
button[type="submit"] {
	margin-top:20px;
	font-size:13px;
}

button.add-song {
	float:right;
	font-size:18px;
	border:0;
	background:none;
	cursor:pointer;
	color:#007aff;
}
button.add-song .icon {
	display:inline-block;
	vertical-align:middle;
	width:26px;
	margin-right:8px;
	fill:none;
	stroke:#007aff;
}
button.add-song span {
	display:inline-block;
	vertical-align:middle;
}

span.handle {
	color:#d6d6d6;
	cursor:-moz-grab;
	cursor:-webkit-grab;
	cursor:grab;
	-webkit-font-smoothing:antialiased;
}
span.handle:active {
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
	cursor:grabbing;
}
span.handle:hover,
span.handle:focus {
	color:#606060;
}
.slip-reordering {

}
.slip-swiping-container {
	overflow-x: hidden;
}


.bajs {
	box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);
}


/* Availability switch */
