/* GENERAL */
html.scrolling {
	pointer-events: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #191818;
	color: #fff;
}

a:visited {
	color: #fff;
	text-decoration: none;
	outline: 0;
}

.structural {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}

.group::after {
	display: table;
	clear: both;
	content: "";
}
