.controls {
    .fullscreen {
		display: none;
		width: 25px;
		padding: 0;
		border: 0;
		margin: 0 0 0 15px;
		line-height: 0;
		background: none;
		fill: currentColor;

	    &:hover,
	    &:focus {
	    	opacity: 0.9;
	    	transform: scale(1.05);
	    	outline: 0;
	    }

	    &:active {
	    	transform: scale(0.97);
	    }

	    .no-touch & {
	        display: block;
	    }
	}

	.volume-slider {
		display: none;
		width: 8.5rem;
		height: 1px;
		margin-right: 2.3rem;
		outline: 0;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
		background: rgba(255, 255, 255, 0.35);
		-webkit-appearance: none;

	    .no-touch & {
	    	display: block;
	    }

	    &::-moz-range-track {
	    	height: 1px;
	    	margin: 0;
	    	padding: 0;
	    	outline: 0;
	    	background: #555;
	    }

	    &::-moz-range-thumb {
	    	width: 16px;
	    	height: 16px;
	    	border-radius: 100%;
	    	box-shadow: 0 2px 4px rgba(0,0,0,.4);
	    	background: #f0f0f2;
	    	border: 0;
	    	background: linear-gradient(#fcfcfc, #ededed);
	    	cursor: pointer;
	    }

	    &::-moz-range-thumb:hover,
	    &::-moz-range-thumb:focus {
	    	opacity: 0.9;
	    	transform: scale(1.1);
	    }

	    &::-webkit-slider-thumb {
	    	width: 17px;
	    	height: 17px;
	    	border-radius: 100%;
	    	box-shadow: 0 2px 4px rgba(0,0,0,.4);
	    	background: #f0f0f2;
	    	background: linear-gradient(#fcfcfc, #ededed);
	    	-webkit-appearance: none;
	    	cursor: pointer;
	    }

	    &::-webkit-slider-thumb:hover,
	    &::-webkit-slider-thumb:focus {
	    	opacity: 0.9;
	    	transform: scale(1.1);
	    }
	}

	.info-toggle {
	    width: 3.2rem;
		margin-left: 1rem;
		border: 0;
		background: none;
		fill: currentColor;

	    &:hover,
	    &:focus {
	    	opacity: 0.9;
	    	-webkit-transform: scale(1.05);
	    	transform: scale(1.05);
	    	outline: 0;
	    }

	    &:active {
	    	-webkit-transform: scale(0.97);
	    	transform: scale(0.97);
	    }
	}

	.play-state {
		width: 1.85rem;
		border: 0;
		padding: 0;
		background: none;
		cursor: pointer;
		fill: currentColor;

	    &:hover,
	    &:focus {
	    	opacity: 0.9;
	    	transform: scale(1.06);
	    	outline: 0;
	    }

	    &:active {
	    	transform: scale(0.97);
	    }

	    .pause {
	    	display: none;
	    }

	    &.playing {
	        .pause {
	            display: block;
	        }

	        .play {
	            display: none;
	        }
	    }
	}
}
