@font-face {
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-style: normal;
	src: local("Helvetica Neue"), url("/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba-03.woff") format("woff");
}

@font-face {
	font-family: "GT Walsheim Regular";
	font-weight: normal;
	font-style: normal;
	src: url("/fonts/gt-walsheim-regular-web-03.woff") format("woff");
}
