@charset 'UTF-8';

@font-face {
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-style: normal;
	src: local("Helvetica Neue"), url("/assets/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba-03.woff") format("woff");
}

@font-face {
	font-family: "GT Walsheim Regular";
	font-weight: normal;
	font-style: normal;
	src: url("/assets/fonts/gt-walsheim-regular-web-03.woff") format("woff");
}

@import "../base";


/* Collection title */
.collection-title {
	font-family: "GT Walsheim Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 5em;
	margin: 4rem 0 5rem 0;
}
@media (max-width: 900px) {
	.collection-title { font-size: 4em; }
}
@media (max-width: 700px) {
	.collection-title { font-size: 3em; margin-top: 5rem; }
}
@media (max-width: 600px) {
	.collection-title { font-size: 2em; margin-top: 6rem; }
}

/* Palettes */
.color-0.playing a {
	/* background: #ffeadc; */
	background: rgba(255, 234, 220, 0.85);
}
.color-0.paused a {
	background: rgba(255, 234, 220, 0.55);
}
.color-1.playing a {
	/* background: #dbf3d0; */
	background: rgba(219, 243, 208, 0.85);
}
.color-1.paused a {
	background: rgba(219, 243, 208, 0.55);
}
.color-2.playing a {
	/* background: #fff6de; */
	background: rgba(255, 246, 222, 0.85);
}
.color-2.paused a {
	background: rgba(255, 246, 222, 0.55);
}
.color-3.playing a {
	/* background: #d4dff3; */
	background: rgba(212, 223, 243, 0.85);
}
.color-3.paused a {
	background: rgba(212, 223, 243, 0.55);
}
.color-4.playing a {
	// background: #fff1b5;
	background: rgba(255, 241, 181, 0.85);
}
.color-4.paused a {
	background: rgba(255, 241, 181, 0.55);
}
.color-5.playing a {
	// background: #c2ceca;
	background: rgba(194, 206, 202, 0.85);
}
.color-5.paused a {
	background: rgba(194, 206, 202, 0.45);
}
.color-6.playing a {
	// background: #e5d6d4;
	background: rgba(229, 214, 212, 0.85);
}
.color-6.paused a {
	background: rgba(229, 214, 212, 0.45);
}
.color-7.playing a {
	// background: #d6dccd;
	background: rgba(214, 220, 205, 0.85);
}
.color-7.paused a {
	background: rgba(214, 220, 205, 0.45);
}