@charset 'UTF-8';

@font-face {
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-style: normal;
	src: local("Helvetica Neue"), url("../fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba-03.woff") format("woff");
}

@import "../base";

.hero {
	min-height: 500px;
	height: 100vh;
}

@media (max-width: 685px) {
	.hero {
		min-height: 350px;
		height: auto;
	}
}

.hero-inner {
	position: absolute;
	z-index: 1;
	width: 100%;
	text-align: center;
	will-change: transform;
}

.hero-inner h1 {
	margin: 9rem auto 0;
	width: 63%;
	max-width: 800px;
	max-height: 340px;

	svg {
		fill: #fff;
	}
}

.hero-inner button {
	display: inline-block;
	margin-top: 3em;
	padding: 0;
	background: none;
	border: 0;
	width: 77px;
	height: 77px;
	cursor: pointer;

	svg {
		fill: #fff;
	}

	.pause {
		display: none;
	}

	&.playing {
		.play {
			display: none;
		}
		.pause {
			display: block;
		}
	}
}

.collection-hero {
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 0;
	transform: translate(-50%, -50%);
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.35s;
}


/* Palettes */
.color-0.playing a {
	/* background: #ffeadc; */
	background: rgba(255, 234, 220, 0.85);
}

.color-0.paused a {
	background: rgba(255, 234, 220, 0.55);
}

.color-1.playing a {
	/* background: #dbf3d0; */
	background: rgba(219, 243, 208, 0.85);
}

.color-1.paused a {
	background: rgba(219, 243, 208, 0.55);
}

.color-2.playing a {
	/* background: #fff6de; */
	background: rgba(255, 246, 222, 0.85);
}

.color-2.paused a {
	background: rgba(255, 246, 222, 0.55);
}

.color-3.playing a {
	/* background: #d4dff3; */
	background: rgba(212, 223, 243, 0.85);
}

.color-3.paused a {
	background: rgba(212, 223, 243, 0.55);
}

.color-4.playing a {
	// background: #fff1b5;
	background: rgba(255, 241, 181, 0.85);
}

.color-4.paused a {
	background: rgba(255, 241, 181, 0.55);
}

.color-5.playing a {
	// background: #c2ceca;
	background: rgba(194, 206, 202, 0.85);
}

.color-5.paused a {
	background: rgba(194, 206, 202, 0.45);
}

.color-6.playing a {
	// background: #e5d6d4;
	background: rgba(229, 214, 212, 0.85);
}

.color-6.paused a {
	background: rgba(229, 214, 212, 0.45);
}

.color-7.playing a {
	// background: #d6dccd;
	background: rgba(214, 220, 205, 0.85);
}

.color-7.paused a {
	background: rgba(214, 220, 205, 0.45);
}


@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }