/* Document level adjustments */
html {
	font-size: 17px;
}

@media (max-width: 900px) {
	html { font-size: 14px; }
}

@media (max-width: 400px) {
	html { font-size: 13px; }
}

/* Declare document level font */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0 0 20px;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
	-webkit-text-stroke:1px transparent;
	text-rendering:optimizeLegibility;
}
h1 {
	font-weight:normal;
	text-align:center;
}
h2 {
	font-weight:normal;
}
p {

}
p + p {

}