/* Media query variables
-------------------------------------------------- */
@custom-media --wide (min-width: 1080px);
@custom-media --large-only (min-width: 768px) and (max-width: 1080px);
@custom-media --large (min-width: 768px);
@custom-media --medium-only (min-width: 561px) and (max-width: 768px);
@custom-media --medium (min-width: 561px);
@custom-media --small (max-width: 560px);


/* Expose breakpoint values to DOM
-------------------------------------------------- */
body:before {
    display: none;
    content: "small-viewport";

    @media (--medium) {
        content: "medium-viewport";
    }

    @media (--large) {
        content: "large-viewport";
    }

    @media (--wide) {
        content: "wide-viewport";
    }
}


/* Basic imports
-------------------------------------------------- */
@import "normalize.css";
@import "base/_animation.css";
@import "base/_helpers.css";
@import "base/_settings.css";


/* Site
-------------------------------------------------- */
:root {
    font-size: 57%;

    @media screen and (--medium) {
        font-size: 62.5%;
    }
}

html, body {
    height: 100%;
}

html {
    height: 101%;
    text-size-adjust: 100%;

    &.scrolling {
    	pointer-events: none;
    }
}

body {
    overflow-x: hidden;
    background: #fff;
    color: #1a1a1a;
    font-size: var(--base-font-size);
    line-height: 1.4;
    touch-action: manipulation;

    .fonts-loaded & {
        font-family: var(--font-main);
        font-size: calc(var(--base-font-size) * 1.2);
        letter-spacing: inherit;
    }
}


/* Layout
-------------------------------------------------- */
.group {
    box-sizing: border-box;
    padding: 0 1.5rem;

    @media screen and (--large) {
        padding: 0 3rem;
    }

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    &-inner {
        margin: 0 auto;
        max-width: var(--site-width);
    }
}





.sticky-header .header-shadow {
    @media (max-width: 685px) {
        position: fixed;
        height: 80px;
        visibility: visible;
        opacity: 1;
    }
}

.no-touch.sticky-header {
    @media (min-width: 686px) {
        /* Sticky header */
        .collection-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }

        /* Header shadow overlay */
        .header-shadow {
            opacity: 1;
            visibility: visible;
        }
    }
}



/* Collection header */
.collection-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.header-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125%;
	pointer-events: none;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	will-change: transform, opacity, background;
	background-image: linear-gradient(to bottom, rgba(25, 24, 24, 0.97) 0%, rgba(25, 24, 24, 0.85) 65%, rgba(0, 0, 0, 0) 100%);

	@media (max-width: 685px) {
		pointer-events: visible;
	}
}
