.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	button {
		padding: 0;
		border: 0;
		background: none;
		outline: 0;
	}

	> * {
		margin: 0 0.4em;
	}

	.volume-slider {
		display: none;
		outline: 0;
		-webkit-appearance: none;

	    .no-touch & {
	    	display: block;
	    }

	    &::-moz-range-track {
	    	margin: 0;
	    	padding: 0;
	    	outline: 0;
	    }

	    &::-moz-range-thumb {
			width: 1.2em;
		    height: 1.2em;
	    	border: 0;
	    	cursor: pointer;
	    }

	    &::-webkit-slider-thumb {
			width: 1.2em;
		    height: 1.2em;
	    	-webkit-appearance: none;
	    	cursor: pointer;
	    }
	}

	.play-state {
		.pause {
			display: none;
		}

		&.playing .play,
		&.paused .pause {
			display: none;
		}

		&.paused .play,
		&.playing .pause {
			display: block;
		}
	}
}

/* Hide if js is disabled */
.no-js {
    .volume-slider,
    .fullscreen,
    .info-toggle {
    	display: none;
    }
}
