html.overlay  {
    overflow: hidden;

    @media only screen and (max-width: 770px) {
        overflow: visible;
    }
}

.dialog-overlay {
	display: none;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
	background: #191919;
	opacity: 0;
	transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
	will-change: opacity, transform;

    .overlay & {
    	display: block;
    	visibility: visible;
    	opacity: 0.85;
    	z-index: 100;
    	transition: opacity 0.2s ease-in-out;
    }
}

.dialog {
	display: none;
	visibility: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 101;
	max-width: 630px;
	width: 100%;
	overflow: hidden;
	padding: 40px 50px 20px;
	background: #fff;
	color: #333;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
	-webkit-font-smoothing: subpixel-antialiased;

    @media only screen and (max-width: 770px) {
		top: 60px;
		transform: translate(-50%, 0);
		max-width: none;
		width: 95%;
		padding: 20px 20px 10px;
    }

    .overlay & {
    	display: block;
    	visibility: visible;
    	opacity: 1;
    	transition: opacity 0.4s ease-in-out;
    }

    a {
    	color: #000;
    	text-decoration: underline;
    }

    h4 {
        margin: 0 0 20px;
        font-size: 1.7rem;
        color: #222;
    }

    p {
    	margin-bottom: 23px;
    	color: #3c3c3c;

        @media only screen and (max-width: 770px) {
    		margin-right: 0;
        }
    }

    footer {
    	text-align: center;
    }

    small {
    	font-size: 68%;
    	color: #696969;

        span {
        	font-size: 105%;
        }
    }

    .settings {
    	display: flex;
    	margin-bottom: 24px;

    	@media (max-width: 685px) {
    		margin-bottom: 14px;
    	}

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .share-options,
    .export-options {
    	width: 50%;

        li {
        	list-style: none;
        	margin-bottom: 7px;

        	.icon {
        		display: inline-block;
        		width: 18px;
        		height: auto;
        		vertical-align: middle;
        		margin-right: 10px;
        		fill: #333;
        	}

        	a {
        		font-size: 15px;
        	}
        }
    }

    .input-group {
    	margin-bottom: 7px;

    	input {
    		margin-right: 4px;
    	}

    	label {
    		font-size: 15px;
    	}
    }

    .keyboard-mapping {
    	display: none;
    	margin-bottom: 32px;

        .no-touch & {
        	display: block;
        }

        .keyboard-shortcuts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        dl {
            display: flex;
            align-items: center;
            flex-basis: 50%;
            margin: 0;
            line-height: 1;
        	color: #2d2d2d;

            dt {
            	width: 6em;

                kbd {
                    display: inline-block;
                    padding: 0.5em 0.8em;
                	border: 2px solid #e4e4e4;
                	border-radius: 6px;
                	color: #363535;
                	text-align: center;
                	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
                	text-transform: capitalize;
                }

                span {
                    padding-left: 0.3em;
                    padding-right: 0.3em;
                }
            }

            dd {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
	section.settings.group {
		display: block;
	}

	.dialog .share-options,
	.dialog .export-options {
		width: 100%;

		h4 {
			margin-bottom: 10px;
		}
	}

	.dialog .share-options {
		margin-bottom: 30px;
	}
}

.close-dialog {
	position: absolute;
	top: 18px;
	right: 20px;
	width: 16px;
	color: #9e9e9e;
	opacity: 0.3;
	background: none;
	border: 0;
    padding: 0;

    &:hover,
    &:focus {
    	opacity: 1;
    }
}

/* No-JavaScript fallback */
#noscript-warning {
	display: block;
	position: fixed;
	top: 30%;
	left: 50%;
	z-index: 101;
	width: 510px;
	margin-left: -255px;
	padding: 22px 32px;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	background: #1c252e;

    &:target {
    	display:none;
    }

    .close-dialog svg {
    	fill: #fff;
    }

    a {
    	color: #9e9e9e;
    }

    h4 {
    	color: #bbb;
    	font-size: 26px;
    }

    p {
    	margin-bottom:10px;
    	padding-right:15px;
    	color:#b3b3b3;
    	font-size:14px;
    	line-height:21px;

        & + p {
        	margin-top:0;
        }
    }
}
