.go-to-top {
	position: relative;
	z-index: 1;
	text-align: center;
	margin-bottom: 60px;

    a {
       color: #fff;
       text-decoration: none;

       &:hover,
       &:focus {
           opacity: 0.8;
       }

       svg {
            width: 7px;
            fill: #fff;
       }
    }
}
