@charset 'UTF-8';

@font-face {
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-style: normal;
	src: local("Helvetica Neue"), url("/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba-03.woff") format("woff");
}

@font-face {
	font-family: "GT Walsheim Regular";
	font-weight: normal;
	font-style: normal;
	src: url("/fonts/gt-walsheim-regular-web-03.woff") format("woff");
}

@import "../base";


/* Collection title */
.collection-title {
	font-family: "GT Walsheim Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 5em;
	margin: 4rem 0 5rem 0;
}

@media (max-width: 900px) {
	.collection-title { font-size: 4em; }
}

@media (max-width: 700px) {
	.collection-title { font-size: 3em; margin-top: 5rem; }
}

@media (max-width: 600px) {
	.collection-title { font-size: 2em; margin-top: 6rem; }
}

.collection-title div,
.collection-title span {
	display: inline-block;
}

.collection-title div[data-string="2014"] {
	font-size: 1.2em;
}

.collection-title div {
	margin: 0 0.1em;
}

.animate.collection-title div,
.animate.collection-title span {
	transform: translate3d(0, 0, 0);
	transition: all 1.2s;
}

.animate.collection-title span {
	margin: 0 0.05em;
}

.animate.collection-title span:nth-child(1) {
	transform: translate3d(0, 20px, 0);
}

.animate.collection-title span:nth-child(2) {
	transform: translate3d(0, 42px, 0);
}

.animate .collection-title span:nth-child(3) {
	transform: translate3d(0, -5px, 0);
}

.animate.collection-title span:nth-child(4) {
	transform: translate3d(0, 45px, 0);
}

.animate.collection-title span:nth-child(5) {
	transform: translate3d(0, -15px, 0);
}

.animate.collection-title span:nth-child(6) {
	transform: translate3d(0, 45px, 0);
}

.animate.collection-title span:nth-child(7) {
	transform: translate3d(0, -12px, 0);
}

.animate.collection-title span:nth-child(8) {
	transform: translate3d(0, 40px, 0);
}

@media (max-width: 685px) {
	.animate.collection-title div {
		margin: 0 0.4em;
	}

	.animate.collection-title span:nth-child(1) {
		transform: translate3d(0, 10px, 0);
	}

	.animate.collection-title span:nth-child(2) {
		transform: translate3d(0, 22px, 0);
	}

	.animate .collection-title span:nth-child(3) {
		transform: translate3d(0, -5px, 0);
	}

	.animate.collection-title span:nth-child(4) {
		transform: translate3d(0, 25px, 0);
	}

	.animate.collection-title span:nth-child(5) {
		transform: translate3d(0, -5px, 0);
	}

	.animate.collection-title span:nth-child(6) {
		transform: translate3d(0, 15px, 0);
	}

	.animate.collection-title span:nth-child(7) {
		transform: translate3d(0, -3px, 0);
	}

	.animate.collection-title span:nth-child(8) {
		transform: translate3d(0, 20px, 0);
	}
}

/* Palettes */
.color-0.loading a,
.color-0.playing a {
	background: rgba(255, 234, 220, 0.85);
}

.color-0.paused a {
	background: rgba(255, 234, 220, 0.55);
}

.color-1.loading a,
.color-1.playing a {
	background: rgba(219, 243, 208, 0.85);
}

.color-1.paused a {
	background: rgba(219, 243, 208, 0.55);
}

.color-2.loading a,
.color-2.playing a {
	background: rgba(255, 246, 222, 0.85);
}

.color-2.paused a {
	background: rgba(255, 246, 222, 0.55);
}

.color-3.loading a,
.color-3.playing a {
	background: rgba(212, 223, 243, 0.85);
}

.color-3.paused a {
	background: rgba(212, 223, 243, 0.55);
}

.color-4.loading a,
.color-4.playing a {
	background: rgba(255, 241, 181, 0.85);
}

.color-4.paused a {
	background: rgba(255, 241, 181, 0.55);
}

.color-5.loading a,
.color-5.playing a {
	background: rgba(194, 206, 202, 0.85);
}

.color-5.paused a {
	background: rgba(194, 206, 202, 0.45);
}

.color-6.loading a,
.color-6.playing a {
	background: rgba(229, 214, 212, 0.85);
}

.color-6.paused a {
	background: rgba(229, 214, 212, 0.45);
}

.color-7.loading a,
.color-7.playing a {
	background: rgba(214, 220, 205, 0.85);
}

.color-7.paused a {
	background: rgba(214, 220, 205, 0.45);
}
