@charset 'UTF-8';

@font-face {
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-style: normal;
	src: local("Helvetica Neue"), url("/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba-03.woff") format("woff");
}

@font-face {
	font-family: "Suisse Intl";
	font-weight: normal;
	font-style: normal;
	src: url("/fonts/SuisseIntl-Regular-WebS.woff2") format("woff2");
}

@import "../base";

body {
	background: #f1f1f1;
}

.main-header .logo {
	fill: #222;
	width: 92px;
}

.play-state svg,
.info-toggle svg,
.fullscreen svg {
	fill: #444;
}


.volume-slider {
	width: 75px;
	box-shadow: none;
	background: rgba(0, 0, 0, 0.15);
}

.volume-slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: none;
	background: #f0f0f2;
	cursor: pointer;
}

.volume-slider::-moz-range-thumb:hover,
.volume-slider::-moz-range-thumb:focus {
	transform: scale(1.1);
}

.volume-slider::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	box-shadow: none;
	background: #444;
	-webkit-appearance: none;
	cursor: pointer;
}

.volume-slider::-webkit-slider-thumb:hover,
.volume-slider::-webkit-slider-thumb:focus {
	transform: scale(1.1);
}

.hero {
	min-height: 500px;
	height: 100vh;
}

.hero-inner {
	position: absolute;
	z-index: 1;
	width: 100%;
	text-align: center;
	will-change: transform;
}

.hero-inner h1 {
	margin: 9rem auto 0;
	width: 85%;
	max-width: 800px;
	max-height: 340px;

	svg {
		fill: #fff;
	}
}

.hero-inner button {
	display: inline-block;
	margin-top: 3em;
	padding: 0;
	background: none;
	border: 0;
	width: 77px;
	height: 77px;
	cursor: pointer;

	svg {
		fill: #000;
	}

	.pause {
		display: none;
	}

	&.playing {
		.play {
			display: none;
		}
		.pause {
			display: block;
		}
	}
}

.collection-hero {
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 0;
	transform: translate(-50%, -50%);
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.35s;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.no-touch .collection-header::after {
	background: linear-gradient(to bottom, rgba(241, 241, 241, 0.97) 0%, rgba(241, 241, 241, 0.85) 65%, rgba(241, 241, 241, 0.02) 100%);
}

.collection-sub-title {
	color: #000;
}

.collection {
	font-size: 1.11em;
	margin-bottom: 5.5em;
}

.collection .col {
	padding: 1.1em 0;
}

.collection .scroll-overflow span {
	font-size: 1.11rem;
	line-height: 3.4em;
}

.col.title {
	width: 30%;
	max-width: 300px;
}

.col.artist {
	width: 32%;
	max-width: 320px;
}

.col.time {
	width: 10%;
	max-width: 120px;
}


// RESPONSIVENESS
@media (min-width: 1500px) {
	.hero-inner h1 {
		margin: 14rem auto 0;
		max-width: 950px;
	}

	.hero-inner button {
		width: 110px;
		height: 110px;
		margin-top: 4em;
	}
}

@media (max-width: 1450px) {
	.hero-inner h1 {
		margin: 11rem auto 0;
	}

	.hero-inner button {
		width: 85px;
		height: 85px;
		margin-top: 3.5em;
	}
}

@media (max-width: 1400px) {
	.hero-inner h1 {
		margin: 13rem auto 0;
	}

	.hero-inner button {
		width: 80px;
		height: 80px;
		margin-top: 2.5em;
	}
}

// Default
@media (max-width: 1300px) {
	.hero-inner h1 {
		margin: 9rem auto 0;
		max-width: 800px;
	}

	.hero-inner button {
		width: 77px;
		height: 77px;
		margin-top: 3em;
	}
}

@media (max-width: 685px) {
	.hero {
		min-height: 400px;
		height: auto;
	}
}

@media (max-width: 680px) {
	.collection-hero {
		top: 37%;
		width: 240px;
		height: auto;
	}

	.hero-inner button {
		width: 67px;
		height: 67px;
	}
}

@media (max-width: 550px) {
	.collection-hero {
		top: 32%;
		width: 200px;
		height: auto;
	}

	.hero-inner button {
		width: 60px;
		height: 60px;
		margin-top: 2em;
	}
}

@media (max-width: 500px) {
	.collection-hero {
		top: 32%;
		width: 200px;
		height: auto;
	}

	.hero-inner button {
		width: 60px;
		height: 60px;
		margin-top: 1.5em;
	}

	.hero {
		min-height: 350px;
	}
}

/* Cover */
.collection .cover {
	background: #f3f3f3;
	box-shadow: none;
	will-change: transform, opacity;
}

.collection .cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
	opacity: 0;
	will-change: opacity;
	transition: opacity 0.25s;
}

.collection ol:hover .cover::before,
.collection ol:focus .cover::before {
	opacity: 0;
}

.collection .playing .cover::before,
.collection .paused .cover::before,
.collection .loading .cover::before,
.collection li:hover .cover::before,
.collection li:focus .cover::before {
	opacity: 1;
}

.collection .cover .canvas {
	display: block;
	transition: visibility 0s linear 500ms, opacity 100ms 400ms;
}

.collection .cover-loaded .canvas {
	visibility: hidden;
	opacity: 0;
}

.best-songs-of-2015 .collection ol:hover .cover-loaded img,
.best-songs-of-2015 .collection ol:focus .cover-loaded img,
.best-songs-of-2015 .collection ol:hover .cover-loaded video,
.best-songs-of-2015 .collection ol:focus .cover-loaded video {
	transition: opacity 0.2s ease-out;
}

a,
a:visited {
	color: #000;
}

.collection .loading a[data-contrast="bright"],
.collection .playing a[data-contrast="bright"],
.collection .paused a[data-contrast="bright"] {
	color: rgba(255, 255, 255, 0.82);
}

.collection a[data-contrast="bright"] svg.state-playing,
.collection a[data-contrast="bright"] svg.state-paused {
	fill: rgba(255, 255, 255, 0.82);
}

.collection .loading a[data-contrast="dark"],
.collection .playing a[data-contrast="dark"],
.collection .paused a[data-contrast="dark"] {
	color: rgba(0, 0, 0, 0.9);
}

.collection a[data-contrast="dark"] svg.state-playing,
.collection a[data-contrast="dark"] svg.state-paused {
	fill: rgba(0, 0, 0, 0.9);
}

.collection a:hover,
.collection a:focus {
	background: rgba(0, 0, 0, 0.1);
}

.collection svg.state-playing,
.collection svg.state-paused {
	width: 17px;
}

.col.index {
	width: 9%;
}

.go-to-top a {
	display: inline-block;
	color: #444;
	transform: rotate(90deg);
	font-size: 25px;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
