@charset 'UTF-8';

@font-face {
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-style: normal;
	src: local("Helvetica Neue"), url("/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba-03.woff") format("woff");
}

@import "../base";

body {
	background-color: #f2f2f2;
	transition: background-color 0.5s ease;
}

.shadow-header {
	transition: background 0.5s ease;
}

.main-header .logo {
	fill: #212121;
	width: 86px;
	transition: fill 0.5s ease;
}

body[data-color-contrast="bright"] .main-header .logo {
	fill: rgba(255, 255, 255, 0.85);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.main-header .logo {
		width: 90px;
	}
}

.play-state svg,
.info-toggle svg,
.fullscreen svg {
	fill: #212121;
	transition: fill 0.5s ease;
}

.fullscreen:hover,
.fullscreen:focus,
.info-toggle:hover,
.info-toggle:focus,
.play-state:hover,
.play-state:focus {
	opacity: 0.7;
	transform: none;
}

.volume-slider::-moz-range-thumb:hover,
.volume-slider::-moz-range-thumb:focus {
	transform: none;
}

.volume-slider::-webkit-slider-thumb:hover,
.volume-slider::-webkit-slider-thumb:focus {
	transform: none;
}

.play-state svg {
	height: 18px;
	margin-top: 1px;
}

.info-toggle {
	width: 12px;
	height: 19px;
	margin-left: 13px;
}

.fullscreen {
	width: 24px;
	margin-left: 14px;
}

body[data-color-contrast="bright"] .play-state svg,
body[data-color-contrast="bright"] .info-toggle svg,
body[data-color-contrast="bright"] .fullscreen svg {
	fill: rgba(255, 255, 255, 0.85);
}

.volume-slider {
	width: 72px;
	box-shadow: none;
	background: rgba(0, 0, 0, 0.15);
}

body[data-color-contrast="bright"] .volume-slider {
	background: rgba(255, 255, 255, 0.1);
}

.volume-slider::-moz-range-thumb {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	box-shadow: none;
	background: #212121;
	cursor: pointer;
}

body[data-color-contrast="bright"] .volume-slider::-moz-range-thumb {
	background: rgba(255, 255, 255, 0.85);
}

.volume-slider::-moz-range-thumb:hover,
.volume-slider::-moz-range-thumb:focus {
	transform: scale(1.1);
}

.volume-slider::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: none;
	background: #212121;
	-webkit-appearance: none;
	cursor: pointer;
}

body[data-color-contrast="bright"] .volume-slider::-webkit-slider-thumb {
	background: rgba(255, 255, 255, 0.85);
}

.volume-slider::-webkit-slider-thumb:hover,
.volume-slider::-webkit-slider-thumb:focus {
	transform: scale(1.1);
}

.hero {
	height: 100vh;

	@media screen and (max-height: 600px) {
		height: 600px;
	}

	@media screen and (max-width: 620px) {
		height: 290px;
	    margin-top: 95px;

		.collection-title p {
			max-width: none;
		}
	}
}

.hero-inner {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	will-change: transform;
}

.collection-title {
	width: 90%;
	padding: 0 14px;
	will-change: opacity, transform;
	animation: fadeInHero 0.95s ease forwards;

	svg {
		max-width: 100%;
	}

	h1 {
		margin: 0 auto;
		padding: 0;
		fill: #fff;
		transition: fill 0.5s ease;
		max-width: 1050px;

		body[data-color-contrast="dark"] & {
			fill: #212121;
		}
	}

	p {
		text-align: center;
		color: #212121;
		letter-spacing: 0.02553em;
		font-size: 2.6vw;
		transform: translateY(-50%);
		max-width: 65%;
		margin: 2.4vh auto 0;
		line-height: 1.3;

		body[data-color-contrast="dark"] & {
			color: #fff;
		}

		@media screen and (max-width: 780px) {
			font-size: 17px;
		}
	}

	a,
	a:visited {
		font-weight: bold;
		color: #212121;

		body[data-color-contrast="dark"] & {
			color: #fff;
		}
	}

	&:hover p,
	&:focus p {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeInHero {
	0% { opacity: 0; }
	85% { opacity: 1; }
	100% { opacity: 1; }
}

.header-shadow {
	background: none;
}

.header-shadow .gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(241, 241, 241, 0.97) 0%, rgba(241, 241, 241, 0.85) 65%, rgba(241, 241, 241, 0.02) 100%);
	opacity: 0;
	transition: opacity 0.5s ease;
}

.header-shadow .gradient:first-child {
	opacity: 1;
}

.transition .gradient:first-child {
	opacity: 0;
}

.transition .gradient:last-child {
	opacity: 1;
}

.collection-sub-title {
	text-align: center;
	fill: #000;
	transition: fill 0.5s ease, transform 0.25s, opacity 0.4s;
	padding-bottom: 5px;

	svg {
		display: inline-block;
		width: 89px;
		height: 22px;
	}
}

body[data-color-contrast="bright"] .collection-sub-title {
	fill: rgba(255, 255, 255, 0.85);
}

.collection {
	font-size: 1.11em;
	margin-bottom: 3.5em;
}

.collection .col {
	padding: 1.11em 0;
}

.collection .scroll-overflow span {
	font-size: 1.11rem;
	line-height: 3.4em;
}

.col.index {
	width: 9%;
	max-width: 90px;

	@media (max-width: 400px) {
		width: 7%;
	}
}

.col.title {
	width: 30.5%;
	max-width: 305px;

	@media (max-width: 685px) {
		width: 32%;
	}

	@media (max-width: 400px) {
		width: 30%;
	}
}

.col.artist {
	width: 31%;
	max-width: 310px;

	@media (max-width: 685px) {
		width: 34%;
	}

	@media (max-width: 400px) {
		width: 31%;
	}
}

.col.time {
	width: 11%;
	max-width: 110px;
}


/* Cover */
.collection .cover {
	background: #f3f3f3;
	box-shadow: none;
	will-change: transform, opacity;
}

.collection .cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
	opacity: 0;
	will-change: opacity;
	transition: opacity 0.25s;
}

.collection ol:hover .cover::before,
.collection ol:focus .cover::before {
	opacity: 0;
}

.collection .playing .cover::before,
.collection .paused .cover::before,
.collection .loading .cover::before,
.collection li:hover .cover::before,
.collection li:focus .cover::before {
	opacity: 1;
}

.collection .cover .canvas {
	display: block;
	transition: visibility 0s linear 500ms, opacity 100ms 400ms;
}

.collection .cover-loaded .canvas {
	visibility: hidden;
	opacity: 0;
}

.best-songs-of-2015 .collection ol:hover .cover-loaded img,
.best-songs-of-2015 .collection ol:focus .cover-loaded img,
.best-songs-of-2015 .collection ol:hover .cover-loaded video,
.best-songs-of-2015 .collection ol:focus .cover-loaded video {
	transition: opacity 0.2s ease-out;
}

a,
a:visited {
	color: #000;
}

.sort {
	transition: color 0.5s ease;
	color: rgba(0,0,0,0.5);
}

body[data-color-contrast="bright"] .sort {
	color: rgba(255, 255, 255, 0.3);
}

.sort strong svg {
	fill: rgba(0, 0, 0, 0.5);
	transition: fill 0.5s ease;
}

.collection .state-loading {
	width: 12px;

	@media (max-width: 685px) {
		width: 10px;
	}
}

.collection .loading .state-loading {
	visibility: hidden;
	opacity: 0;
	animation: loader-pulsate 1.5s ease-out infinite;
	animation-delay: 0.5s;
}

@keyframes loader-pulsate {
    0% { visibility: visible; opacity: 1.0; }
    50% { visibility: hidden; opacity: 0; }
    100% { visibility: visible; opacity: 1.0; }
}

body[data-color-contrast="bright"] .sort strong svg {
	fill: rgba(255, 255, 255, 0.3);
}

.collection .loading a[data-color-contrast="bright"],
.collection .playing a[data-color-contrast="bright"],
.collection .paused a[data-color-contrast="bright"] {
	color: rgba(255, 255, 255, 0.82);
}

.collection .loading a[data-color-contrast="dark"],
.collection .playing a[data-color-contrast="dark"],
.collection .paused a[data-color-contrast="dark"] {
	color: rgba(0, 0, 0, 0.9);
}

.collection a[data-color-contrast="bright"] .state-loading,
.collection a[data-color-contrast="bright"] .state-playing,
.collection a[data-color-contrast="bright"] .state-paused {
	fill: rgba(255, 255, 255, 0.82);
}

.collection a[data-color-contrast="dark"] .state-loading,
.collection a[data-color-contrast="dark"] .state-playing,
.collection a[data-color-contrast="dark"] .state-paused {
	fill: rgba(0, 0, 0, 0.9);
}

.collection a[data-color-contrast="bright"] .progress {
	background: rgba(0, 0, 0, 0.4);
}

.collection a:hover,
.collection a:focus {
	background: rgba(0, 0, 0, 0.1);
}

.collection .unavailable a {
	color: rgba(0, 0, 0, 0.2);
}

.go-to-top {
	margin-bottom: 5em;
}

.go-to-top a {
	color: #212121;
}

.go-to-top svg {
	display: inline-block;
	width: 19px;
    fill: #fff;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.overlay .dialog-overlay {
	opacity: 0.8;
}

.dialog footer p {
	font-size: 13px;
	margin-bottom: 4px;
	line-height: 1.7;
}
