:root {
    /*Layout */
    --site-padding: 3.5rem;

    /* Fonts */
    --font-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --collection-font-size: 1.85rem;

    /* Colors */
    --color-black: #333;
    --color-white: #f0f0f0;
}
