/* Extend global styles
-------------------------------------------------- */
@import "main.css";


/* Component imports
-------------------------------------------------- */
@import "components/_collection.css";
@import "components/_controls.css";
@import "components/_dialog.css";
@import "components/_header.css";
@import "components/_player-ui.css";
@import "components/_sort-collection.css";


/* Template specific imports
-------------------------------------------------- */
@import "_settings.css";
@import "_animation.css";
@import "_fonts.css";


/* Template styling
-------------------------------------------------- */
body {
	background-color: #f2f2f2;
	transition: background-color 1.676s cubic-bezier(0.17, 1.1, 0.11, 1.13);
    font-family: var(--font-main);
	-webkit-font-smoothing: antialiased;
	will-change: background;
}

a,
a:visited {
	color: #000;
    text-decoration: none;
}


/* Header */
.header-main {
	top: 2.5rem;
	color: var(--color-black);
	fill: var(--color-black);

    .group-inner {
        max-width: none;
    }

	.logo {
		width: 10.5rem;
	}
}


.collection {
	font-size: var(--collection-font-size);

	&-title {
		text-align: center;
	}

	/* States */
	.loading a,
	.loading a:visited,
	.playing a,
	.playing a:visited {
		transition: background 0.45s;
	}

	.paused a,
	.paused a:visited {
		transition: background 0.2s;
	}
}

.cols {
	max-width: var(--site-width);
	margin-left: auto;
	margin-right: auto;
}

.col {
	&-index,
	&-title,
	&-artist,
	&-time {
		max-width: none;
	}

	&-artist {
		width: 32%;
	}

	&-title {
		width: 31%;
	}
}
